/*  ********************************************  ******************************************** */

body {
    background-color: #3C3C3C;
}

h2 {
    color: white;
}

h4 {
    color: rgba(102, 102, 102, 0.9)
}

h5 {
    font-style: italic;
}

.main {
    padding-top: 25px;
}

.centered {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product-place {
    display: block;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
}

.product-desc-place {
    margin-top: -40px;
}

.show-hide {
    display: none;
}

.product-size {
    max-height: 160px;
    max-width: 160px;
}

.padding-0 {
    padding: 0;
}

.search-space {
    padding-right: 10px;
}

.noLink {
    color: #000000;
    cursor: text;
    text-decoration: none;

}

.noLink:hover, .noLink:visited {
    cursor: not-allowed;
    text-decoration: none;
}

.padding-right-0 {
    padding-right: 0;
}

/* ******************************************** Buttons ******************************************** */

.btn-edit, .btn-save, .btn-cancel, .btn-delete {
    cursor: pointer;
    font-size: 18px;
    width: 45px;
}

.btns-custom {
    z-index: 9999;
    float: right;
}

.btn-edit {
    float: right;
}

.btn-save, .btn-cancel, .btn-delete {
    margin-right: 10px;
}

/*  ********************************************  ******************************************** */

.edit-form {
    margin-top: 50px;
}

.linkedProducts {
    display: block;
}

.linkedProducts a {
    color: #111;
}

.list-group-item:hover {
    background-color: rgba(252, 255, 255, 1);
}

/*  ********************************************  ******************************************** */

@media (max-width: 768px) {
    .padding-xs-0 {
        padding: 0;
    }

    .padding-xs-top {
        margin-top: 15px;
    }

    .product-desc-place {
        margin-top: 0;
    }

    .product-place {
        margin-top: 0;
    }

}





