h5 {
    font-style: italic;
}

.centered {
    text-align: center;

    /* for images */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product-place {
    display: block;
    float: left;
     margin-top: -10px;
}

.product-desc-place {
    margin-top: -40px;
}

.show-hide {
    display: none;
}
body {
    background-color: #3C3C3C;
}

h2 {
    color: white;
}

h4 {
    color: rgba(102, 102, 102, 0.9)
}

.product-size {
    max-height: 160px;
    max-width: 160px;
}

.live-preview {
    border: 1px solid rgba(156, 156, 156, 0.38);
    margin-left: auto;
    margin-right: auto;
    display: block;
    /*

   border-style: dashed;
   border-color: rgba(142, 245, 255, 0.65) !important;
   background: rgba(209, 248, 255, 0.24) !important;
   padding: 3px;
   */
}

.padding-0 {
    padding: 0;
}

.padding-right {
    padding-right: 2em;
}

.noLink {
    color: #000000;
    cursor: text;
    text-decoration: none;

}

.noLink:hover, .noLink:visited {
    cursor: not-allowed; /*text*/
    text-decoration: none;

}

.padding-right-0 {
    padding-right: 0;
}

.test {
    color: #990000 !important;
}

.main {
    padding-top: 25px;
}

.btn-edit, .btn-save, .btn-cancel, .btn-delete  {
    cursor: pointer;
    font-size: 18px;
    width: 45px;

}

.btns-custom {
    z-index: 9999;
    float: right;
}

.btn-edit {
    float: right;
}

.btn-save, .btn-cancel, .btn-delete {
  }

.edit-form {
    margin-top: 50px;
}

@media (max-width: 768px) {
    .padding-xs-0 {
        padding: 0;
    }

}




