<!--  Add a new Product Form -->

<!--
Product example:
name: "Cadani",
brand: "Aldo",
style: "Tall Boots",
color: "Black",
price: 110.00,
description: "These super trendy boots will have you dancing all over town...",
link: "http://www.aldoshoes.com/ca/en/women/boots/tall-boots/c/133/CADANI/p/33598088-96",
image: 'http://media.aldoshoes.com/product/CADANI/96/CADANI_96_RG_324.JPG',
acquired: false
-->

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h4>Add a Product</h4>

        <div class="panel panel-default panel-body">

            <form name="addProductForm">
                <section class="input-container">
                    <div class="col-sm-12 padding-0">
                        <div class="form-group col-sm-6 padding-0">
                            <label for="form-product-name">Product Name</label>
                            <input ng-model="newProduct.name" type="text"
                                    class="form-control" placeholder="Some product" title="Name" id="form-product-name"/>
                        </div>
                        <div class="form-group col-sm-4 padding-xs-0">
                            <label for="form-product-category">Product Category</label>
                            <select ng-model="newProduct.type" class="form-control" title="Category" id="form-product-category">
                                <option value="Random" selected="selected">Random</option>
                                <option value="Shoes">Shoes</option>
                                <option value="Clothes">Clothes</option>
                                <option value="Beauty">Beauty</option>
                                <option value="Bedroom">Bedroom</option>
                                <option value="Kitchen">Kitchen</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-2 padding-0">
                            <label for="form-product-price">Product Price</label>

                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                <input ng-model="newProduct.price" type="number" class="form-control" placeholder="0"
                                        id="form-product-price" min="0"/>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 padding-0">
                        <div class="form-group col-sm-6 padding-0">
                            <label for="form-product-brand">Product Brand</label>
                            <input ng-model="newProduct.brand" type="text"
                                    class="form-control" placeholder="Any brand" title="Brand" id="form-product-brand"/>
                        </div>
                        <div class="form-group col-sm-6 padding-xs-0 padding-right-0">
                            <label for="form-product-link">Product Link</label>
                            <input ng-model="newProduct.link" type="url"
                                    class="form-control" placeholder="www..." title="Product Link" id="form-product-link"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="form-product-description">Comments</label> <textarea ng-model="newProduct.description"
                            class="form-control" placeholder="Some description and comments..." title="Comments" id="form-product-description"></textarea>
                    </div>


                    <div class="form-group">
                        <label for="form-product-picture">Product Picture Link</label> <input ng-model="newProduct.picture" type="url"
                            class="form-control" placeholder="www..." title="Picture Link" id="form-product-picture"/>
                    </div>
                    <!-- status - acquired or not? -->
                    <div class="form-group">
                        <div class="col-xs-6 padding-0">
                            <!-- <label for="form-product-status">Product Status</label>-->

                            <div class="checkbox" id="form-product-status">
                                <label> <input type="checkbox">Acquired </label>
                            </div>
                        </div>
                        <div class="col-xs-6 padding-0">
                            <input type="submit" class="btn btn-success pull-right" value="Add Product" ng-click="add()"/>
                        </div>

                    </div>
                </section>
            </form>
        </div>
    </div>
</div>