<div class="container main">

    <div class="row">
        <div class="col-md-4 col-md-push-8">

            <add-form></add-form>
            <search-form></search-form>

        </div>

        <div class="col-md-8 col-md-pull-4">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="product in products | filter:query | orderBy: productOrder:direction"
                        ng-hide="product.acquired">
                    <div class="row" data-parseid="{{ product.objectId }}" id="{{ product.objectId }}">

                        <div class="col-sm-12 show-hide">
                            <div class="btns-custom">
                                <button type="button" class="btn btn-success btn-save" ng-click="patch(product.objectId)" title="Save">
                                    <span class="glyphicon glyphicon-ok centered " aria-hidden="true"></span></button>
                                <button type="button" class="btn btn-info btn-cancel" ng-click="cancelEdit()" title="Cancel">
                                    <span class="glyphicon glyphicon-remove centered" aria-hidden="true"></span></button>
                                <button type="button" class="btn btn-danger btn-delete" ng-click="deleteObject(product.name, product.objectId)"
                                        title="Delete">
                                    <span class="glyphicon glyphicon-trash centered" aria-hidden="true"></span></button>
                            </div>
                        </div>
                        <form class="show-hide edit-form">
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <input placeholder="Name" class="form-control" type="text" ng-model="product.name" title="Name"/></div>
                                <div class="form-group">
                                    <input placeholder="Brand" class="form-control" type="text" ng-model="product.brand" title="Brand"/></div>
                                <div class="form-group">
                                    <textarea placeholder="Comments" ng-model="product.description" class="form-control" title="Comments"></textarea>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-addon">$</div>
                                    <input placeholder="Price" class="form-control" type="number" ng-model="product.price" min="0" title="Price"/>
                                </div>

                            </div>
                            <div class="col-sm-5 padding-xs-top">
                                <div class="form-group">
                                    <input placeholder="Image Link" class="form-control" type="url" ng-model="product.picture" title="Image URL"/>
                                </div>

                                <div class="form-group">
                                    <input placeholder="Product Link" class="form-control" type="url" ng-model="product.link" title="Product URL"/>
                                </div>
                            </div>
                        </form>


                        <div class="col-sm-12 btns-custom">
                            <button type="button" class="btn btn-default btn-edit" ng-click="toggleEditor(product.objectId)" title="Edit">
                                <span class="glyphicon glyphicon-pencil centered " aria-hidden="true"></span></button>
                        </div>
                        <div class="linkedProducts">
                            <a ng-class="{noLink: product.link == (null)}" ng-href="{{product.link}}" target="_blank">
                                <div class="col-sm-7 product-desc-place">

                                    <h3>{{ product.name }}</h3>

                                    <h5>{{product.brand}}</h5>

                                    <p>{{ product.description }}</p>
                                    <em>{{product.price | currency}}</em>
                                </div>
                                <div class="col-sm-5">
                                    <img class="product-place product-size" ng-src="{{product.picture }}"/>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>


</div>