<!-- search Form -->
<section>
    <div class="panel panel-default panel-body">

        <h4>Search the Wishlist</h4>

        <form>

            <label>Search for:</label> <input class="form-control" type="text" ng-model="query" placeholder="Anything.." autofocus> <br>

            <label class="search-space">Sort by:
                 <select style="width: 100%" ng-model="productOrder">
                    <option value="price" selected>Price</option>
                    <option value="name">Name</option>

                    <!--
                    <option value="type">type</option>
                    <option value="brand">brand</option>
                    -->

                </select> </label>

            <label class="search-space"> <input type="radio" ng-model="direction" name="price" checked> Asc.</label>


            <label class="search-space"> <input type="radio" ng-model="direction" name="price" value="reverse"> Desc.</label>

        </form>
    </div>
</section>